[2016-09-02 10:35] nasyrov opened #1 "PHPCS"
Hi there,

Thanks for the great plugin!

I was thinking, it would be nice if you can integrate PHP CodeSniffer and lint your code against PSR2 code stylings...

Thanks,
E

[2016-09-02 10:38] inasyrov commented on #1
PS: If you are ok with that, I can submit a PR with the PHPCS and travis integration.

[2016-09-05 10:20] jjgrainger commented on #1
@nasyrov Yes, that would be great thank you!

[2016-10-11 08:58] richardsweeney opened #2 "t10ns"
Hi, class looks great and works well, but I haven't managed to get the t10ns working.

I added the this via composer to my theme (if i `require` it to my vendor dir, the t10ns won't be found). I could translate all the strings ok, but the t10ns don't actually work.

The issue is unfortunately with using a variable for the text-domain for t10ns. Otto sums it up nicely in the following article (it's

[2016-10-11 11:11] jjgrainger commented on #2
I believe the translation (when passing the textdomain for the object instance) works with a few translations plugins.

But, as for working with poedit, I think the only way it can work with the class is supplying the translation strings in the arguments.

So for example, to set up the post type labels for translation with poedit, you would do the following:

[code]

I know its additional work on

[2016-12-03 13:44] mmjaeger opened #4 "Composer"
Hello
was wondering whether this could also be installed without having to install composer?

[2016-12-07 12:59] jjgrainger commented on #4
I believe so, not tried it myself.

But the class has no dependencies itself, Composer is mainly used for its autoloading.

You could try requiring in the [classes](https://github.com/jjgrainger/PostTypes/tree/master/src) at the top of your file and see if that works?

[2016-12-07 17:01] jjgrainger commented on #4
@mmjaeger The order of the classes shouldn't matter, no :)

[2016-12-09 17:05] mmjaeger commented on #4
allow me a quick question:
how do I properly pass names and options when creating a taxonomy??

On Wed, Dec 7, 2016 at 10:01 AM, Joe Grainger <notifications@github.com>
wrote:

--
Marco M. Jaeger
http://net4visions.com

[2016-12-09 21:49] mmjaeger commented on #4
Hello Joe
Hope you got a minute - I'm able to create a CPT called "gear" and I'm also
able to create a taxonomy called "gear_category" - however, in the list
view of all the entries, I'm getting two columns called categories and when
adding a category to a post, it doesn't get saved - what am I missing here?

this is what I'm using:

add_action( 'init', 'ct_add_post_types', 0 );
function ct_add_po

[2016-12-09 23:40] mmjaeger commented on #4
this drives me nuts - In the category list view, it actually shows how many
posts belong to that category but the categories do not show up in the post
list view - if I assign a category in the edit screen, it gets checked
until I hit update and then it's unchecked again.
Hope you got an idea - thank you in advance for your input.
​

On Fri, Dec 9, 2016 at 2:49 PM, Marco M. Jaeger <mmjaeger@gmail.

[2016-12-10 14:33] mmjaeger commented on #4
Hello Joe
Please ignore the last couple email - some plugin I was using caused some
issue - however, I tried to make my gear_category column sortable
like: $gear->columns()->sortable(['gear_category' => ['gear_category',
false ]]);

I does not return the expected result - please see screenshot.

​

On Fri, Dec 9, 2016 at 4:40 PM, Marco M. Jaeger <mmjaeger@gmail.com> wrote:

--
Marco M. Jaeger
http

[2016-12-13 09:11] jjgrainger commented on #4
Sorting taxonomies has come up before with the wp-custom-post-type-class ([see this issue](https://github.com/jjgrainger/wp-custom-post-type-class/issues/51)) and after researching into it, I don't think this will become a feature.

Reason being is Taxonomies are used for grouping, not sorting posts, and in most cases won't work as expected when you assign multiple terms to a post.

I'd recommend

[2016-12-13 13:41] mmjaeger commented on #4
actually, that makes sense.

thanks

On Tue, Dec 13, 2016 at 2:11 AM, Joe Grainger <notifications@github.com>
wrote:

--
Marco M. Jaeger
http://net4visions.com

[2016-12-13 16:01] #4 closed

[2016-12-23 14:45] mmjaeger opened #5 "remove column"
hello
allow me a quick question hiding e.g. the 'author' column for posts works just fine - was trying to use the same code for post type 'attachment' but couldn't get the author column to hide?

am I missing something here?

this is what I used:
`$pt_attachment = new PostType( 'attachment' );
   $pt_attachment->columns()->hide( 'author']);`

[2017-01-06 09:59] jjgrainger commented on #5
Hi @mmjaeger

It seems that the attachment post type uses slightly different actions and filters for modifying the admin columns, which means I'll need to find out what the all are in order to fix it!

For now, if it's any use, the code below should do what you want until I get this fixed.

[code]

Thanks :)

[2017-01-06 14:39] mmjaeger commented on #5
thanks

On Fri, Jan 6, 2017 at 2:59 AM, Joe Grainger <notifications@github.com>
wrote:

--
Marco M. Jaeger
http://net4visions.com

[2017-02-02 17:10] webgrafia opened #6 "problem registering same taxonomy for different post type"
Hi, I love your tool, but in this version there's a problem when registering the same custom taxonomy for different post type.
example:

[code]

I think the problem is in
`if (taxonomy_exists($names['name'])) {
            $this->existingTaxonomies[] = $names['name'];`

in taxonomy function, it return false.

Do you experienced the same issue?

[2017-03-20 09:24] jjgrainger commented on #6
Thanks for pointing this out, I'll get to fixing this as soon as I can :)

[2017-04-02 17:54] strarsis opened #7 "Repeating field?"
It would be great to have repeating fields or sets of fields supported by this library.

[2017-04-11 10:20] jjgrainger commented on #7
I've avoided adding any field functionality for a number of reasons.

The main reason is [Advanced Custom Fields](https://www.advancedcustomfields.com/). The plugin is amazing for handling custom fields and does a far better job of it than I anything I could make to go alongside this class. I highly recommend it!

Thanks, :)

[2017-04-11 10:20] #7 closed

[2017-04-13 17:52] MWDelaney commented on #6
I can confirm this problem --in fact trying to attach an existing taxonomy like `post_tag` actually _removes_ it from posts.

[2017-04-26 19:19] cedarstay commented on #6
Can confirm that I am also experiencing this issue

[2017-04-28 11:23] #6 closed

[2017-04-28 11:23] #1 closed

[2017-04-28 11:35] jjgrainger commented on #6
Hi @cedarstay @MWDelaney and @webgrafia,

Just thought I'd let you know this has been fixed now. :)

The `taxonomy()` method was trying to use WordPress `taxonomy_exists` function to check if the taxonomy existed. This call was made outside of any actions, so was being run before WordPress was fully loaded. This meant the `taxonomy_exists` check didn't work properly.

I've updated the code so the

[2017-04-28 20:04] kewalter opened #8 "Error with addTaxonomies"
After the 1.1 update I'm seeing errors on the page now.

```Notice: Undefined property: PostTypes\PostType::$addTaxonomies in /vendor/jjgrainger/posttypes/src/PostType.php on line 351```

```Warning: Invalid argument supplied for foreach() in /vendor/jjgrainger/posttypes/src/PostType.php on line 351```

Looks like the variable ```$newTaxonomies``` was changed to ```$addTaxonomies``` and wasn't upd

[2017-05-02 09:34] jjgrainger opened #9 "Add unit tests"
I've been wanting to add unit tests for a while but wasn't sure how. After some research, I've stumbled across a few interesting articles and tools that have shed some light on how to do this.

* [This StackOverflow answer](https://wordpress.stackexchange.com/a/164138) on adding unit tests
* [WordPress plugin constructor hooks](https://tommcfarlin.com/wordpress-plugin-constructors-hooks/) by Tom M

[2017-05-02 10:03] #8 closed

[2017-05-04 08:44] Rodenastyle opened #10 "Automatic post type names by slug not working on v1.1.1"
Post type name, singular, and plural are not generated automatically from slug on CPT creation.
This has happened after updating to the last release v1.1.1.

I've solved it by forcing the version 1.0 on the composer.json.

Best regards,

[2017-05-04 09:12] jjgrainger commented on #10
Hi @Rodenastyle,

Everything seems to be working fine for me. Could you provide a bit more detail, including code so I can try and recreate the issue.

Thanks :)

[2017-05-15 18:32] pixeltherapy commented on #9
I've been looking to do the same for some of my own WP themes but when I sit down to refactor for dependency injection my eyes start glazing over at the task ahead. I'm where you are in terms of seeing where you want to be and how to get there, minus the optimism.

I'm borrowing your custom post class for a minute to rule out bugs in my own class but I like your tidy approach to adding admin edit

[2017-05-17 09:32] seldimi opened #11 "Customize taxonomy columns"
First of all, I love your class, I just updated from CTP!

Is there any way to customize taxonomy columns, as we do with custom post type?
That would be handy

[2017-05-18 08:55] jjgrainger commented on #11
Hi @seldimi

If you're referring to the post types admin columns, you can use the [columns](https://github.com/jjgrainger/PostTypes#columns) method to add taxonomy columns.

If you need any extra help, just give me some extra details and code examples if possible and I'll do my best.

Thanks :)

[2017-05-18 09:16] seldimi commented on #11
Hello @jjgrainger
Let's take this for example.
`$books->taxonomy('genre');`

I want to set some columns on Genre (taxonomy term table) which refer to taxonomy custom field, not in Custom Post Type table

[2017-05-18 09:29] jjgrainger commented on #11
Hi @seldimi

Sorry unfortunately not. In the meantime, you can set it up yourself with a couple of actions.

To add the custom column to the genre taxonomy table.

[code]

Then to populate the column.

[code]

You can see an example [here on stackoverflow](https://wordpress.stackexchange.com/questions/77658/custom-columns-for-taxonomy-list-table)

[2017-05-18 12:10] seldimi commented on #11
Thanks for the help. It would really help many people out, someting like $books->taxonomy('genre')->columns() and have the same functionallity as $book->columns()

[2017-05-18 12:29] seldimi commented on #11
I leave that code here in case someone seeks for it.. Its cleaner and can ovveride all columns, as you do on your Class

[code]

[2017-05-18 14:21] jjgrainger commented on #11
👍

Yes, I'll look into adding it as a feature... something to consider while looking at some of the refactoring work I'm considering here #9

Thanks :)

[2017-05-19 14:13] jjgrainger commented on #9
Following on from issue #11 the `Taxonomy` class could become a standalone thing, available to developers to register taxonomies.

Taxonomies could be created as objects then be passed to the post type to register it, or could still use the taxonomy slug.

[code]

Using the taxonomy class to create objects can then open up additional methods for manipulating the taxonomy.

[code]
Then there is how

[2017-05-27 10:27] pixeltherapy commented on #9
I like how tidy all this looks. I'm going to give it a whirl in my dev theme and see what issues arise.

[2017-05-29 22:33] jorisvm commented on #2
The translation is still an issue. I ran into it, and it comes down execution order. The name and label strings are initialized on class construction. In other words you can call the PostType->translation() method but it is always to late.  I made some modifications to the code to make it work by calling PostType->names() and PostType->labels() on init instead of on construct and it seems to do th

[2017-06-06 09:56] jjgrainger commented on #9
Now the `Taxonomy` class is an independent thing from `PostType` the last dependency to fix is the `Columns`. Something I've discovered recently is that you can type hint a parameter but also default it to null.

In light of this, I'm thinking the `columns()` method in the `PostType` (and soon to be in `Taxonomy`) can accept a `ColumnManager` dependency. This can default to `null`, which then will

[2017-06-23 12:02] indrek-k opened #12 "Conflict with WooCommerce admin columns"
Using PostTypes on WooCommerce 'product' post type seems to create duplicate Product Category and Product Type admin column values.

**Repro:**
1. Install WooCommerce
2. Import dummy data
3. new PostType('product');
4. Have a look at the Products admin table

**Expected result:**
![admincols2](https://user-images.githubusercontent.com/1229164/27481241-51fc8b34-5824-11e7-95c3-cf7109a6b2b5.PNG)

**A

[2017-06-26 12:39] jjgrainger commented on #12
@indrek-k Thanks for this, I will investigate :)

[2017-06-30 12:45] mmjaeger opened #13 "taxonomy - show_admin_column"
<img width="1182" alt="screen shot 2017-06-29 at 2 08 08 pm" src="https://user-images.githubusercontent.com/1554580/27736050-426a3fa8-5d57-11e7-94d6-8e01943b93d4.png">
using "show_admin_column" as an option when creating a taxonomy I'm getting duplicate columns in the WP admin - see screenshot.

[2017-08-02 11:35] jjgrainger commented on #13
@mmjaeger Thanks for this,

This will be down to PostTypes not taking the `show_admin_column` option into consideration. So when the columns are generated by both WordPress and PostTypes.

I'll fix this.

[2017-08-02 11:36] jjgrainger commented on #12
I think this is related to #13

[2017-08-02 11:39] jjgrainger commented on #5
Consider this when implementing #9

[2017-08-09 08:56] seldimi opened #15 "Sorting not working"
Hey. I have issues with sorting. I am using ACF to create custom fields. Even columns populate correctly, it has ASC sorting, even if I see &order=desc.
As for text, it doesn't order correctly.

Part of code
[code]

[2017-08-10 08:02] seldimi opened #16 "Not translating default labels"
I have also noticed another thing. Without declaring any textdomains, the labels are not translated to my native language (Greek) but are in English. It doesnt trigger WordPress native language file.
Only those who are handwritten are translated.

[2017-09-18 18:19] jjgrainger commented on #16
Hi @seldimi,

I believe this has something to do with execution order where labels are being generated too soon (see [this comment](https://github.com/jjgrainger/PostTypes/issues/2#issuecomment-304739466) on issue #2)

I'm working to fix this with v2.0.

[2017-09-18 18:21] seldimi commented on #16
Pefect! I really loved your PostTypes and use it almost anywhere.
Really keen on seeing the v2

[2017-09-18 18:35] jjgrainger commented on #15
Hi @seldimi,

WordPress uses the values stored in the database to set the sort order. So for the `client` column, it won't use the `$client[0]->post_title` to order it.

I imagine you are using an [ACF relationship](https://www.advancedcustomfields.com/resources/relationship/) field for the `client_related` field. If so, the value will be saved in the database as a serialized array, which cannot b

[2017-09-18 18:40] seldimi commented on #15
Yes its a relation field... so you tell me that wordpress sees something like {3:5} so it cannot sort it correctly?

As for the sort_order, I did not get it.. I have set sort_order to every custom post type, but still doesn't work well. But it does read its value, isnt it ?

[2017-09-18 20:13] jjgrainger commented on #15
Yes @seldimi, that is correct.

WordPress will see the serialized value like `{"3":"123"}` so it cannot be sorted correctly.

As for the `sort_order` I would have thought it would work. Could you provide me with the full code and let me know what type of field you are using for the `sort_order` meta. Then I'll take a look and see if I can work out what's happening.

Thanks :)

[2017-10-11 15:13] jjgrainger commented on #2
I've been researching into this more while working towards releasing v2.0 and I've decided to remove anything to do with translations from the project.

With the current setup, I seem to be encouraging bad practices around translations such as using a variable for the text domain and more. Likewise, PostTypes isn't a plugin but a developer utility. Therefore, I believe it should not have its own t

[2017-10-12 09:41] jorisvm commented on #2
Thanks for the reply,
I understand that using a variable for translations may not be best practice, but it would be real nice if you could somehow tell the class to use the textdomain of the theme or plugin for which the posttype class is used. For plugin or theme development centralizing all translations in 1 po file and one text domain is crucial.  Maybe create a way to set all translation defau

[2017-10-19 11:40] jjgrainger opened #17 "Add full documentation"
After the changes made for v2.0 using a single README for documentation just won't do!

Create a small Jekyll blog in `/docs` folder of the project, hosted with Github Pages.

[2017-10-24 20:26] #2 closed

[2017-10-24 20:26] #9 closed

[2017-10-24 20:26] #11 closed

[2017-10-24 20:26] #12 closed

[2017-10-24 20:34] jjgrainger commented on #16
@seldimi This has been fixed in v2, details can be found in the pull request (#18)

[2017-10-24 20:34] #16 closed

[2017-10-24 20:37] jjgrainger commented on #13
@mmjaeger This has been fixed now in v2.0.

PostTypes now makes use of `show_admin_column` option for displaying taxonomy columns and no longer does this manually.

[2017-10-24 20:37] #13 closed

[2017-10-24 20:44] jjgrainger commented on #11
Hi @seldimi

v2.0 now has a `Taxonomy` class for creating taxonomies. This allows you to use the `columns()` method as you would with the `PostType` class, heres an example:

[code]

[2017-11-08 21:30] dsasko commented on #17
In the "Create new taxonomy" section, mention that the taxonomy class also needs to be loaded before use.

`use PostTypes\Taxonomy;`

[2017-11-13 13:00] jorisvm commented on #2
Nicely solved in 2.0!

[2017-11-15 11:32] jjgrainger commented on #2
@jorisvm Thanks!

[2018-01-27 05:21] matthewsuan opened #20 "Using a call-time pass-by-reference is deprecated since PHP 5.3 and prohibited since PHP 5.4"
On PostType Class and Taxonomy Class, I got this error:

`Using a call-time pass-by-reference is deprecated since PHP 5.3 and prohibited since PHP 5.4`

Any thoughts?

Ty

[2018-01-29 10:17] jjgrainger commented on #20
Hi @matthewsuan

I've not come across this before,

could you provide me with an example of your code when this came up? Is that the full error message, or was there more?

Thanks,

Joe

[2018-04-30 19:56] eballeste opened #23 "taxonomy filter count incorrect when taxonomy is shared"
The total of the filter amount does not filter by custom post type. For example, I am getting 7 total for the healthcare taxonomy when, for the current edit screen, it should be showing 3.
<img width="1100" alt="screen shot 2018-04-30 at 3 45 55 pm" src="https://user-images.githubusercontent.com/6924108/39447146-e18f5f24-4c8e-11e8-97e5-29984af2d292.png">

[2018-05-01 08:57] jjgrainger commented on #23
Hi @eballeste

This will be down to a recent change with the drop-down. Rather than creating a custom dropdown from a terms array, it's now using [`wp_dropdown_categories`](https://codex.wordpress.org/Function_Reference/wp_dropdown_categories) which will display a count for all post types, not for the current one.

After a bit of research it looks like it would need another filter to set the post

[2018-05-02 09:55] kevingobert opened #24 "Call to undefined method PostTypes\Taxonomy::register()"
I would like to modify the basic category of WordPress.

I followed this part of the documentation https://github.com/jjgrainger/PostTypes#exisiting-taxonomies

`
     $names = [
        'name' => 'category',
        'singular' => 'Category',
        'plural' => 'Categories'
    ];

    $options = [
        'has_archive'        => false,
        'publicly_queryable' => false,
        'hierarchical

[2018-05-02 11:25] jjgrainger commented on #24
Hi @kevingobert

The register method is defined in the class, it might be to do with adding a use statement to the file, something missing from the docs.

Could you try adding the following to the top of your file...

[code]

This should hopefully fix the issue :)

[2018-05-02 11:43] kevingobert commented on #24
The code here does n't affect the basic WordPress category

It's normal ? Should it be in a _filter_?
[code]

[2018-05-02 13:40] jjgrainger commented on #24
I think the way PostTypes works at the moment gives it the ability to _extend_ an existing taxonomy, but cannot modify it. I'll need to investigate how I can make this work.

While looking into this I've stumbled upon this [StackExchange](https://wordpress.stackexchange.com/questions/161788/how-to-modify-a-taxonomy-thats-already-registered) answer that should give you what you're looking for.

Hop

[2018-05-02 18:33] michelve opened #25 "Taxonomy not displaying"
[code]

**This is the current code i have on my theme, am i missing anything to make the taxonomy work?**

[2018-05-02 20:33] michelve commented on #25
@jjgrainger - thx for the fast reply, great add-on, i was using your previous one, and now im updating to the new version :) - just one final question can you register multiple taxonomies at the same time?

[2018-05-03 07:02] kevingobert commented on #24
OK, thanks

[2018-05-03 08:34] jjgrainger commented on #25
@michelve I don't believe so, you can only register one taxonomy at a time with the `Taxonomy` class and one taxonomy to a PostType with the `taxonomy()` method. Another feature to add!

Thanks :)

[2018-05-03 10:08] jjgrainger commented on #17
Potentially looking at [GitBook](https://www.gitbook.com/) now...

[2018-08-22 14:00] JoshuaCrewe commented on #17
Until the git book is done #26 will fix what @dsasko was talking about. #EveryLittleHelps

[2018-08-30 17:52] #17 closed

[2018-09-01 13:29] jjgrainger opened #28 "Add Contributing Guide"
Following the new docs, now seems a good time to get organised!

* Create a CONTRIBUTING.md
* Organise labels better - see [Better Github Labels](https://blog.adam-marsden.co.uk/better-github-labels-f1360b43e0a7)
* Create issue templates 🚀 - see [Github Issue Templates](https://github.com/stevemao/github-issue-templates)

[2018-09-01 19:06] #28 closed

[2018-10-24 12:23] noplanman opened #32 "Ultimate proofing"
To be a good boy and create an issue before the PR (even though I've already started work on this :grin:)

Basically, I've proofread the entire documentation and will create different PRs that bundle certain changes (like `typos`, `grammar`, `code examples`, etc.) to make it easier to work through.

As I make PRs, I'll list them here to keep everything sane.

Best work through these in order, so t

[2018-10-25 12:32] noplanman commented on #32
@jjgrainger Ok, have done my proofing :tada:

Take a look and let me know if you want any changes or anything.

:exclamation: Note: As the PRs are completely separate, I (or you if you want to) will need to rebase / merge after each one.

[2018-10-27 16:37] jjgrainger commented on #32
@noplanman Thank you, this is great work! 👍

I'm going to try and dedicate some time today/tomorrow to review and merge each of them.

[2018-10-28 14:08] jjgrainger commented on #32
@noplanman All PRs have been merged! 🎉

Thanks again for all your work on this, truly awesome!

[2018-10-28 14:08] #32 closed

[2018-10-28 14:12] jjgrainger opened #38 "Add multiple taxonomies and post types to object"
Currently,

* Only one taxonomy can be added to a post type via the `PostType` `taxonomy()` method.
* Only one post type can be added to a taxonomy via the `Taxonomy` `posttype()` method.

Update these methods so they can also accept an array so multiple taxonomies/post types can be added to an object in a single method call.

[2018-10-28 14:13] jjgrainger commented on #25
I've created a new issue #38 to address multiple taxonomies to a post type with the `taxonomy()` method.

[2018-10-28 14:13] #25 closed

[2018-10-28 14:22] jjgrainger opened #39 "Modify existing taxonomies using Taxonomy class"
Currently, the Taxonomy class will not run `register_taxonomy` if the taxonomy already exists ([line 189](https://github.com/jjgrainger/PostTypes/blob/master/src/Taxonomy.php#L189)). Therefore, a taxonomy cannot be modified using the class.

Will need to investigate a way to

* Allow the class to modify a taxonomy
* Use existing arguments over defaults if taxonomy exists ([see StackOverflow answer

[2018-10-28 14:28] jjgrainger commented on #20
I believe I've worked out what the issue is reading this [StackOverflow answer](https://stackoverflow.com/questions/8971261/php-5-4-call-time-pass-by-reference-easy-fix-available#8971301).

Both the `Taxonomy` and `PostType` `register()` methods use `&$this` to pass the class by reference, which is now deprecated since PHP 5.3.

Should be simple to resolve by replacing instances of `&$this` to `$t

[2018-10-28 14:32] jjgrainger commented on #10
Hi @Rodenastyle,

I'm going to assume this is fixed now in version 2 and above, so I am closing the issue.

If not, please create a new issue and provide any details and code examples so I can recreate the issue and I'll try help where I can.

Thanks :)

[2018-10-28 14:32] #10 closed

[2018-10-28 14:35] jjgrainger commented on #5
Missed this when implementing #9 so I've updated the title to better describe the issue and work towards a fix

[2018-10-28 14:56] jjgrainger opened #40 "Explore using PHP Traits for certain methods"
Between `PostType` and `Taxonomy` classes, there is repeated code around the names, labels, options, and column methods. Consider using PHP traits to reduce duplicate code and make it easier to maintain, while not over engineering the project.

Traits could as be used for cases such as pluralizing names with regards to PR #22

[2018-10-28 15:43] noplanman commented on #32
@jjgrainger You're so welcome :innocent:

Will do the 100% WP Coding Standards when I next have a moment :+1:

[2018-10-28 16:35] noplanman opened #42 "WP Coding standards"
Not really a bug, but shouldn't the whole PHP code follow strict WP Coding Standards too?

@jjgrainger Obviously feel free to just close this off if you prefer to keep your style, this is more of a suggestion, as it's a pure WordPress project.

[2019-01-03 03:18] matthewsuan commented on #20
thanks. I did re-installed composer and all went well.

[2019-01-03 03:18] #20 closed

[2019-01-10 14:12] JoshuaCrewe opened #43 "Package ramsey/array_column is abandoned"
I have the following set up for a Wordpress install :
[code]
When installing PostTypes via composer I use the following command with the following output :
[code]
The key notification being `Package ramsey/array_column is abandoned, you should avoid using it. No replacement was suggested.`

What do you reckon?

[2019-01-10 14:50] JoshuaCrewe commented on #43
I think that I have misunderstood this warning and that it actually is coming from wp-cli and not this package. I got confused because it showed up when requiring this package but seems to be unrelated.

I have updated all packages and removes wp-cli from `composer.json` and this warning goes away.

🎉

[2019-01-10 14:50] #43 closed

[2019-02-06 16:35] tompha opened #44 "Custom Post not showing in wordpress search."
I have registered my post type as follows and would expect to see it display in the standard search loop.

`
$recipes = new PostType([
    'name' => 'recipes',
    'singular' => 'Recipe',
    'plural' => 'Recipes',
    'slug' => 'recipes',
], [
    'supports' => ['title', 'excerpt', 'revisions', 'thumbnail'],
    'has_archive' => true,
    'menu_icon' => 'dashicons-carrot',
    'public'

[2019-02-08 17:56] polishedwp commented on #44
@tompha This is normal for CPT. You have to add the CPT to the WP query. Look here for one example of how to fix:
https://thomasgriffin.io/how-to-include-custom-post-types-in-wordpress-search-results/

[2019-03-10 23:54] mmjaeger opened #47 "populate column for taxonomy not working"
hello
got the following code:

`$cats = new Taxonomy( $names, $options );
	$cats->posttype( 'gear' );

	$cats->columns()->add( array(
		'pid' => __( 'ID' ),
	) );

	$cats->columns()->populate( 'pid', function ( $column, $post_id ) {

		var_dump($post_id); // this shows 'pid' instead of the $post_id
	} );

	$cats->columns()->order( array(
		'pid' => 1
	) );`

trying to populate the pid column with

[2019-03-11 00:00] mmjaeger commented on #47
figured it out - functions has a third param - this works:
`$cats->columns()->populate( 'pid', function ( $content, $column, $term_id ) {
		echo $term_id;
	} );`

[2019-03-11 11:36] jjgrainger commented on #47
@mmjaeger Yes, the filter for term columns is slightly different to the way it works for post types.

As you figured out, It passes 3 parameters to the function - `$content`, `$column_name` and `$term_id`.

I will need to update the documentation to make this clearer.

Thanks 👍

[2019-03-20 02:05] mmjaeger opened #48 "add id column to post category taxonomy"
Hello
How could I add an ID column to the posts -> categories edit screen?

[2019-03-20 22:17] mmjaeger commented on #48
got it to work like - hope that's the right way to do it
`$cats = new Taxonomy( 'category' );
	$cats->posttype( 'post' );

	$cats->columns()->add( array(
		'pid' => __( 'ID' ),
	) );

	$cats->columns()->populate( 'pid', function ( $content, $column, $term_id ) {
		echo $term_id;
	} );

	$cats->columns()->order( array(
		'pid' => 1
	) );

	$cats->register();	// register category for posttype 'gear'

[2019-03-20 22:34] mmjaeger commented on #48
what's not working though is adding a column to the post_type "attachment" like this:`

	$atts = new PostType( 'attachment' );
	$atts->columns()->add( array(
		'pid'	=> __( 'ID' ),
	) );

	$atts->columns()->populate( 'pid', function ( $column, $post_id ) {
		echo $post_id;
	} );

	$atts->columns()->order( array(
		'pid' => 1
	) );

	$atts->register();`

am I missing something??

[2019-03-21 11:21] jjgrainger commented on #48
@mmjaeger The attachment post type has a slightly different actions and filters to other post types.

This has been raised in another issue (#5) and will be looking into a fix.

[2019-04-11 07:14] LeninZapata opened #49 "Submitbox edit"
Hi, it is possible to edit the submitbox ?
![image](https://user-images.githubusercontent.com/42600954/55937707-442b7e80-5bff-11e9-8fb2-adafb58a20e5.png)

[2019-04-15 04:45] LeninZapata opened #50 "Add CPT as submenu"
Hello, could you add a functionality to be able to add the CPT within a main menu? Because this currently creates a main menu, but I want to have the ability to convert it into a submenu.
![image](https://user-images.githubusercontent.com/42600954/56108874-a93ee700-5f13-11e9-9c0c-ff54dee61691.png)
As you can see I want to add more options to the 'register_post_type' but it does not work, in the en

[2019-04-15 05:32] #50 closed

[2019-04-15 05:33] LeninZapata commented on #50
I already resolved it

[2019-04-23 11:08] jjgrainger commented on #49
Hi @LeninZapata, thank you for your patience.

At the moment there is not way to modify the submit box using PostTypes and I don't plan to add this as a feature with Gutenberg is part of WordPress now.

You can look into using the [`post_submitbox_misc_actions`](https://codex.wordpress.org/Plugin_API/Action_Reference/post_submitbox_misc_actions) action to make changes to the submitbox.

Thanks

[2019-04-23 11:08] #49 closed

[2019-05-04 06:36] LeninZapata opened #51 "Add column to POST"
Hello, can I add columns to the POST type of the wordpress core?
I'm trying this but I have no results
[code]

[2019-05-05 12:30] jjgrainger commented on #51
Hi @LeninZapata

Based on your code it looks like you need to register the changes to WordPress with the register() method like so:

[code]

Let me know if this works for you :)

[2019-05-07 00:51] LeninZapata commented on #51
It worked! thank you

[2019-05-07 10:12] #51 closed

[2019-05-29 15:50] jakewhiteley opened #52 "Cannot modify existing post types"
As described in your docs [here](https://posttypes.jjgrainger.co.uk/post-types/create-a-post-type#work-with-existing-post-types), it states that you can modify built in PTs using this package.

But in the `PostType` class, we encounter the following code which clearly makes this impossible:

[code]

It would be great if this could work again! Until it does, could you please remove it from the docs

[2019-08-15 09:46] csaborio001 opened #53 "Taxonomies do not display when using Gutenberg Editor"
WordPress: 5.2.2
PHP:  7.2.8

In order to make the CPT display the Gutenberg editor, I set the option as follows:

`    // Create a books Post Type
    $books = new PostType('book');
    $books->options( array (
        **'show_in_rest'      => true,**
    ));`

(this is the only change I make yo your books.php file)

With only this change, the taxonomy does not display:

https://drive.google.com/

[2019-08-15 10:05] jjgrainger commented on #53
Hi @csaborio001

The [`register_taxonomy`](https://developer.wordpress.org/reference/functions/register_taxonomy/) function has the same `show_in_rest` option as post types.

If you update the Genres options to include `'show_in_rest' => true` this should make the taxonomy appear in the Gutenberg editor.

Let me know if that fixes things,

Thanks :)

[2019-08-15 10:34] csaborio001 commented on #53
Thank **you** for creating this code!

I realised that as soon as I submitted the bug, but the taxonomy still does not show when adding/editing the post. But maybe I just need a break, I'll try again tomorrow.

`$options = array(
    'show_in_rest'      => true,
);

// Create a books Post Type
$books = new PostType('book', $options);

// Add the Genre Taxonomy
$books->taxonomy('genre', $options );

[2019-09-06 00:31] csaborio001 commented on #53
Hmmm...I just started a new project and [did work out of the box](https://drive.google.com/open?id=1Fyp9Vq0xpSA6WwcbajbPaeHIol4eyFX8), so closing this up!

Thanks again for creating this project!

[2019-09-06 00:31] #53 closed

[2019-09-23 17:38] bookwyrm opened #54 "Sorting broken when column key and orderby column do not match"
I have added a new column `event_date` to an `Event` CPT and I want to sort on that column. The actual "event date" can be either a single day (`start_date`) or a range with a start and and end date (`end_date`). I want the column to be sortable by the "event date" so I setup the sort to use the underlying `start_date` according to the documentation:

[code]

This adds the column to the admin inte

[2019-11-05 23:17] izakman opened #57 "Incorrect property types in PostTypes class PHP doc"
Hi,

Currently a number of the properties in the PostTypes class have an incorrect type declared for them. `$name`, `$singular`, `$plural`, `$slug` are all declared as arrays but I believe they should be strings?

[2020-02-08 18:35] JoshuaDoshua opened #58 "Add function_exists checks to WP functions"
When using composer's autoloader, it fails because any WordPress function isn't found. I'd like to add `function_exists` checks to any method that includes a WordPress functions to resolve this issue.

NOTE: In my case, I'm also autoloading files that call PostTypes registrations. But there shouldn't be any harm in adding these checks.

[2020-02-08 18:46] JoshuaDoshua commented on #58
Alternatively, we could just check `ABSPATH` at the start of the files like most plugins do

[2020-02-25 16:46] abuyoyo opened #60 "Feature request: use Extended CPTs library"
Feature request: Would you consider using John Blackbourn's [Extended CPTs](https://github.com/johnbillion/extended-cpts) library as the core for your PostTypes library? Perhaps in your next major release.

The main appeal of using PostTypes is the ease-of-use and weak coupling with the WordPress hooks/filters system. Just write `new PostType('new_post_type')` in the global scope and the library t

[2020-04-12 10:03] #54 closed

[2020-04-12 10:07] jjgrainger commented on #54
Thank you for raising the issue and PR.

[2020-04-12 10:33] jjgrainger commented on #15
Closing this issue out as it's now stale.

[2020-04-12 10:33] #15 closed

[2020-04-12 10:52] #57 closed

[2020-04-12 10:58] jjgrainger commented on #60
Thanks for the feature request, but unfortunately I'm against the idea of extending this library from another.

This will add an additional dependency to the project and another code base that people will need to familiarise themselves with in order to contribute.

For those reasons I am closing this issue out.

Thanks again :)

[2020-04-12 10:58] #60 closed

[2020-04-12 10:59] jjgrainger commented on #48
Closing this issue out in favour of #5

[2020-04-12 10:59] #48 closed

[2020-04-12 11:02] jjgrainger commented on #58
Thanks for the issue.

This library is meant to be used in the context of a WordPress theme/plugin and as such the WordPress functions should be available?

It would be good to get a better idea of the context you're using PostTypes in and how this issue caused before moving forward with a solution.

Thanks!

[2020-04-12 11:13] jjgrainger commented on #42
Thanks for the issue.

I chose to go with the [PSR-2](https://www.php-fig.org/psr/psr-2/) standards to keep this project inline with modern PHP practices.

Based on the reactions from others, I think we'll keep this code style for now.

Thanks again :)

[2020-04-12 11:13] #42 closed

[2020-04-12 11:14] jjgrainger commented on #44
@tompha I have tested this with WordPress 5.4 and have found custom post types to show in the standard search with the options you supplied.

I'm going to close the issue out as I cannot recreate the issue, but please feel free to reopen/raise a new issue if the problem persists.

Thanks!

[2020-04-12 11:14] #44 closed

[2020-04-12 12:07] #38 closed

[2020-04-12 12:35] #47 closed

[2020-06-27 20:53] JoaoBrlt opened #66 "Internationalize the dropdown list of taxonomies"
Hi @jjgrainger

Firstly, thank you for this small library that really helps to simplify the code of my WordPress plugins !

The issue I'm pointing out is that the default label of the dropdown list of taxonomies is currently hard-coded with an English prefix `Show all {taxonomy label}`. The problem is that I mainly code websites in other languages so I need to translate it. I would suggest removin

[2020-10-09 09:59] iwillhappy1314 opened #67 "Add default column populate method?"
In my usecase, i added serval post metas in columns, is there any way to set default column polulate method? so we can keep the code more dry?

maybe add a method **populateDefault** like the code below?

[code]

[2020-12-17 23:23] DRogueRonin commented on #67
Or have the `populate` method accept an array of column keys instead.

[2020-12-18 23:38] DRogueRonin opened #69 "Add translation support with textdomains"
In light of https://github.com/jjgrainger/PostTypes/issues/66 and having a similar issue, I was thinking how to add translation support to the library.
So I've extended the PostType in one of my projects to add translation support with loading a textdomain.

https://developer.wordpress.org/reference/functions/load_textdomain/

**PostType.php**
[code]

**index.php**
[code]

What do you think?

[2021-01-19 08:29] vito92 opened #70 "use PostTypes\Taxonomy is missing in Examples"
Hi,
first of all I need to say that this project is awesome! The same holds for your documentation!
I just testet your example today and it seens like a little import for Taxonomies is missing. So I would suggest to change two lines in the README.md and the examples/books.php:
[code]
to
[code]
Or am I missing something?

[2021-06-21 17:53] lapubell opened #71 "CPT Slug Pluralization"
When creating a new CPT, if the name ends in Y then we get bad grammer in the post archive permalink.

Example:
CPT Name: "facility"
[code]

Now, when visiting the post archive, the permalink says `/facilitys` instead of `/facilities`.

[2021-09-24 17:01] mmjaeger opened #73 "Support PostTypes"
hello
I was wondering whether this plugin is still fully supported or whether development has kind of stopped -  is is still save to use this plugin??

[2021-10-06 01:55] mmjaeger commented on #73
I guess not - too bad - I really like this class

[2021-12-11 12:38] jonasostrom opened #75 "Is this repo still maintained?"
Is this repo still maintained? Is any PRs supposed to merged?

[2021-12-11 12:39] jonasostrom opened #76 "Error in log when deleting or saving CPT with CPT taxonomies"
[11-Dec-2021 12:33:41 UTC] PHP Warning:  in_array() expects parameter 2 to be array, null given in /public/wp-content/plugins/bgi-plugin/vendor/jjgrainger/posttypes/src/Taxonomy.php on line 360
[11-Dec-2021 12:33:41 UTC] PHP Stack trace:
[11-Dec-2021 12:33:41 UTC] PHP   1. {main}() /public/wp-admin/admin-ajax.php:0
[11-Dec-2021 12:33:41 UTC] PHP   2. do_action() /public/wp-admin/admin-ajax.php:187

[2022-04-25 02:36] mmjaeger opened #77 "Column sorting is not working for me"
I was wondering whether anybody else has some issues with sorting columns - when clicking on the column that is supposed to sort I get no posts showing up at all - no error message, nothing

don't really know how to debug this.

hope somebody can help

[2022-04-25 21:18] mmjaeger commented on #75
I'm afraid it is not - any good alternatives??

[2022-05-05 21:27] mmjaeger commented on #77
Welcome back - glad you are still here once in a while

I got it to work with the following code/corrections in the PostType.php file:

`   /**
     * Set query to sort custom columns
     * @param  WP_Query $query
     */
    public function sortSortableColumns($query)
    {
        // don't modify the query if we're not in the post type admin
        if (!is_admin() || $query->get('post_type') !

[2022-05-11 21:11] jjgrainger commented on #70
Thanks for highlighting, I've updated the docs and README in PR #79 to ensure the namespaces are included

[2022-05-11 21:11] #70 closed

[2022-05-11 21:25] jjgrainger commented on #73
Hi @mmjaeger

Thanks for your question and apologies for not getting back sooner.

This project is still maintained and I am looking to make further fixes and improvements in the near future.

I have also updated my notification settings so I will be responding to issues more promptly.

Thanks again!

[2022-05-11 21:25] #73 closed

[2022-05-11 21:26] jjgrainger commented on #75
Thanks @jonasostrom

Apologies for not getting back sooner!

This project is still being maintained and I will be making further fixes and improvements in the near future.

Thanks again

[2022-05-11 21:26] #75 closed

[2022-05-11 21:48] jjgrainger commented on #69
Thanks @DRogueRonin

This was similar to an approach PostTypes used in earlier version but was dropped based on the [WordPress Documentation](https://developer.wordpress.org/plugins/internationalization/how-to-internationalize-your-plugin/#basic-strings). It advises not to pass a variable names or constants for the text domain parameter in [gettext functions](https://developer.wordpress.org/apis/h

[2022-05-11 21:48] #69 closed

[2022-05-11 22:27] #71 closed

[2022-05-11 22:29] jjgrainger commented on #23
Related to #66

[2022-05-12 02:01] mmjaeger commented on #73
very glad to hear that - love the script

[2022-05-12 02:06] mmjaeger commented on #77
this has not been fixed yet, right or am I missing something??

[2022-05-12 10:48] jjgrainger commented on #77
@mmjaeger I've yet to create the latest stable release, however you can pull the latest dev version using composer...

[code]

[2022-05-12 10:48] #77 closed

[2022-05-21 13:15] #52 closed

[2022-05-21 13:16] jjgrainger commented on #39
Fixed in #80

[2022-05-21 13:16] #39 closed

[2022-05-21 13:18] jjgrainger commented on #58
Closing as I do not see a need for this when the library is intended to be used within a WP environment.

Thanks!

[2022-05-21 13:18] #58 closed

[2022-05-21 14:00] #23 closed

[2022-05-21 14:00] #66 closed

[2022-05-21 14:01] jjgrainger commented on #66
This was resolved in #81 where the taxonomy label is used instead of a non internationalized string

[2022-05-21 14:01] jjgrainger commented on #23
This was resolved in #81  by removing the term count from the dropdown list to match how WordPress core creates dropdown filters.

[2022-05-30 23:39] mmjaeger commented on #5
any update on supporting the 'attachment' post type??

[2022-06-15 16:18] jjgrainger opened #84 "Create custom actions"
Provide the ability to create custom bulk and row actions with PostTypes. An example of the API could be as follows, but needs  further exploration.

[code]

[2022-06-30 21:14] mmjaeger opened #85 "PHP Fatal error: Uncaught TypeError: in_array()"
was just chatting with wpengine - they provided me an error log file with tons off fatal PHP errors referring to taxonomy.php line 361 - let me know if you need more info.

[2022-07-05 16:46] mmjaeger commented on #85
found the error message in some wpengine log file - the error does not show up when I put WP in debug mode - is there an email address I could send you the log file??

[2022-07-09 18:08] mmjaeger opened #86 "PHP Fatal error: Uncaught TypeError: in_array() - Follow up"
the error in taxonomy.php on line 361 causes another issue with the HappyFiles plugin (https://happyfiles.io) - I'm unable to create a new folder using HappyFiles in PHP 8 - it work with PHP 7

I tried to fix it like this - HappyFiles works now but I don't know yet whether this causes another issue
`// don't modify the query if we're not in the post type admin
        if (!is_admin() || !in_array(

[2022-11-24 12:39] Kubitomakita opened #89 "Warning: Undefined array key 0 in class-wp-list-table.php on line 1308"
It's thrown while using `$registrar->columns()->sortable()` method.

![image](https://user-images.githubusercontent.com/18362490/203786630-3c559d1a-8e74-41ab-860f-a3fd68767a7e.png)

Full warning:

[code]